<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<p>
Hallo,
</p>
<p>
ein neuer Beitrag in der Digital Vital Plattform wartet darauf veröffentlicht zu werden
</p>
<p>
Titel: {{post.title}} <br />
<a href="{{url}}">Zum Beitrag</a>
</p>
<p>
Viele Grüße
<br/>
Dein Digital Vital Team
</p>
<body/>
</html>